<% layout('/layouts/boilerplate.ejs') -%>
<div class="row">
    <div class="col-md-6 offset-2">
    <h1>Create New Listing</h1>
    <br/>
    <form action="/listings" method="POST" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">title</label>
        <input type="text"
        name="listing[title]" 
        placeholder="enter title"  
         class="form-control" 
         required >
        <div class="valid-feedback">
            tittle is good!.
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea 
                name="listing[description]"
                placeholder="enter description"
                class="form-control"
                required
            ></textarea>
            <div class="invalid-feedback">
                Please enter a short description.
            </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image URL/Link</label>
            <input name="listing[image]" 
            placeholder="enter image URL/Link" type="text" 
            class="form-control" >
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
            name="listing[price]"
            placeholder="enter price" 
            type="number"
            class="form-control" 
            required>
            <div class="invalid-feedback">
                Please enter a valid price.
            </div>
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input 
            name="listing[country]"
            placeholder="enter country"
            type="text"
            class="form-control" 
            required>
            <div class="invalid-feedback">
                Please enter a valid country.
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" 
            placeholder="enter location" 
            type="text"
            class="form-control"
             required>
             <div class="invalid-feedback">
                Please enter a valid location.
        </div>
        </div>
        <br  />
        <button class="btn btn-dark add-btn">Add Listing</button>
    </form>
    </div>
</div>
